.container{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

#cal-body {
    width: 35rem;
    height: auto;
    border-radius: 1.25rem;
    background: #f1a8df;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    padding: 45px;
    scale: 0.8;
  }
  
  .input input {
    height: 8rem;
    width: 85%;
    border-radius: 10px;
    background: #dde1e7;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
    border: 0;
    color: rgb(116, 116, 116);
    font-size: 3rem;
    padding: 0 30px;
  }
  
  .input input:focus {
    outline: none;
    background: #dde1e7;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  }
  
  .buttons button {
    cursor: pointer;
    height: 7rem;
    width: 7rem;
    border: 0;
    font-size: 2.5rem;
    border-radius: 50px;
    background: #dde1e7;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    color: rgb(137, 137, 137);
  }
  
  .buttons button:focus {
    background: #dde1e7;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  }
  
  .buttons {
    padding-top: 1.875rem;
    display: flex;
    justify-content: space-between;
  }

  .estiloImpresion{
    display: flex;
    justify-content: justify;
    align-items: justify;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(137, 137, 137);
  }

  .tituloOperaciones{
    font-size: 3rem;
    color: rgb(248, 169, 169);
    text-align: center;
  }